design-system:registry=https://BAI.jfrog.io/artifactory/api/npm/cxd-npm-releases/
//BAI.jfrog.io/artifactory/api/npm/cxd-npm-releases/:_auth=${JFROG_TOKEN}
//BAI.jfrog.io/artifactory/api/npm/cxd-npm-releases/:email=${JFROG_EMAIL}
//BAI.jfrog.io/artifactory/api/npm/cxd-npm-releases/:always-auth=true